<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.packages.prolactancia">

    <uses-permission android:name="Android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/icono_app"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name="com.packages.prolactancia.VideoBeneficios2"></activity>
        <activity android:name="com.packages.prolactancia.Maps" />
        <activity android:name="com.packages.prolactancia.VideoHigiene" />
        <activity android:name="com.packages.prolactancia.VideoBeneficios" />
        <activity android:name="com.packages.prolactancia.MitosVerdades" />
        <activity android:name="com.packages.prolactancia.Donacion" />
        <activity android:name="com.packages.prolactancia.AlmacenamientoTraslado" />
        <activity android:name="com.packages.prolactancia.MenuExtraccion" />
        <activity android:name="com.packages.prolactancia.EstimulacionExtraccion" />
        <activity android:name="com.packages.prolactancia.ProtegeLactancia" />
        <activity android:name="com.packages.prolactancia.SoloPecho" />
        <activity android:name="com.packages.prolactancia.DuermeSuelta" />
        <activity android:name="com.packages.prolactancia.AumentarProduccion" />
        <activity android:name="com.packages.prolactancia.FrecuenciaSuccion" />
        <activity android:name="com.packages.prolactancia.MenuFrecuenciaLactar" />
        <activity android:name="com.packages.prolactancia.SuccionPosicion" />
        <activity android:name="com.packages.prolactancia.MadreEnferma" />
        <activity android:name="com.packages.prolactancia.Abceso" />
        <activity android:name="com.packages.prolactancia.Mastitis" />
        <activity android:name="com.packages.prolactancia.DuctosObstruidos" />
        <activity android:name="com.packages.prolactancia.DolorGrietas" />
        <activity android:name="com.packages.prolactancia.PechosCongestionados" />
        <activity android:name="com.packages.prolactancia.Alimentacion" />
        <activity android:name="com.packages.prolactancia.MenuProblemasLactancia" />
        <activity android:name="com.packages.prolactancia.MenuLactancia" />
        <activity android:name="com.packages.prolactancia.Higiene" />
        <activity android:name="com.packages.prolactancia.Beneficios" />
        <activity android:name="com.packages.prolactancia.MenuPrincipal" />
        <activity android:name="com.packages.prolactancia.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>